@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.drawer-enter {
  transform: translateX(100%);
  opacity: 0;
}
.drawer-enter-active {
  transform: translateX(0);
  opacity: 1;
  transition: transform 10s ease-in-out, opacity 10s ease-in-out; /* Adjusted to 1.5s */
}
.drawer-exit {
  transform: translateX(0);
  opacity: 1;
}
.drawer-exit-active {
  transform: translateX(100%);
  opacity: 0;
  transition: transform 1.5s ease-in-out, opacity 1.5s ease-in-out; /* Adjusted to 1.5s */
}
